<!DOCTYPE html>
<html>
<head>
    <title>Proteção Pet</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <header>
        <h1>Proteção<span>Pet</span></h1>
        <nav>
            <a href="/index">home</a>
            <a href="/recognize">Verificar</a>
            <a href="/map">Mapa</a>
            <a href="/about">Sobre Nós</a>
        </nav>
        </header>
        <p class="para"> <span>|</span>Proteção Pet Home</p>
        <div class="txt">
        <h3>Tecnologia Para <br><span>Encontrar </span> <br> seu Amigo!</h3>
        <p class="index">Unindo tecnologia e cuidado para ajudar a localizar e proteger animais perdidos. Juntos, podemos trazer seu amigo de volta para casa!</p>
        <button class="btn1"><a href="/recognize">Encontrar Agora</a></button>

        </div>
        <div class="box a"></div>
        <div class="box b"></div>
    </div>
</body>
</html>
