<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconhecer Animal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Proteção<span>Pet</span></h1>
        <nav>
            <a href="/index">home</a>
            <a href="/recognize">Verificar</a>
            <a href="/map">Mapa</a>
            <a href="/about">Sobre Nós</a>
        </nav>
    </header>

    <div class="form-container">
        <h1><span>Reconhecimento de Animais</span></h1>

        <form action="/recognize" method="post" enctype="multipart/form-data">
            <label for="image">Selecione uma imagem:</label>
            <input type="file" name="image" id="image" accept="image/*">
            <button type="submit">Enviar</button>
        </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        {% if result %}
            <h2>Resultado da Análise:</h2>
            <p><strong>Animal:</strong> {{ result['animal'] }}</p>
            <p><strong>Características:</strong></p>
            <ul>
                <li>Cor: {{ result['caracteristicas']['cor'] }}</li>
                <li>Tamanho: {{ result['caracteristicas']['tamanho'] }}</li>
                <li>Raça: {{ result['caracteristicas']['raça'] }}</li>
            </ul>
            <div style="width: 50px; height: 50px; background-color: {{ result['caracteristicas']['cor'] }};">
                <!-- Quadrado representando a cor -->
            </div>
        {% endif %}
    </div>
</body>
<style>
</style>
</html>
